$small-screen: 770px !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;

/* Smooth scrolling  */

html {
    scroll-behavior: smooth;
    
}

/* Nav Bar  */
nav{
    background-color: transparent !important;
    @media #{$small-and-down}{
        .brand-logo{
            width: 100%;
            text-align: center;
        }  
    }
    
}
 
  nav 

.no-shadows{
      box-shadow: none !important;
  }


.topNav{
    position: absolute;
    top: 0%;
    
}
nav .brand-logo{
    position: relative;
}

.tabs{
    justify-content: center;
}

/*  background image adding Parallax  */

.bg-img{
    background-image: url('/assets/images/picture/LA\ background.jpg');
    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height : 950px;
    opacity: 0.9;

}




/* Text inside first background image */
.landing-content{
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
    @media #{$small-and-down}{
        h1{
            padding-top: 20rem;
            font-size: 3.2rem;
        }
    }
    
}








#about{
    margin-top: 0;
    text-align: center;
    
}



#projects{
    text-align: center;
    position: relative;
}

.about-me{
    text-align: justify;
    position: relative;
    background-color: #f8f8f8;
    padding: 4%;
  
    
}

.icons{
    position: relative;
    
}

.icon{
    position: relative;
    width: 50%;
    
}

.connect-image{
    display: block;
    width: 100%;
    height: auto;
 &:hover{
    opacity: 0.5;
 }
}



.contact-form{
    background-color: gray;
}


.icons{
    text-align: center;
ul{
    display: inline-flex;
 
   }
}

.icon-container:hover{
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

#connect{
    text-align: center;
}

#connect-text{
    text-align: center;
}
#copyright{
    color : black;
}

.page-footer{
    text-align: center;
}

